@media (max-width: 1300px) {
  .footer_container {
    border-radius: 250px 0 0 0;
  }
}

@media (max-width: 1120px) {
}

@media (max-width: 992px) {
  .hero_area {
    height: auto;
  }

  .quote_btn-container {
    display: none;
  }

  .custom_nav-container .navbar-nav {
    margin: 0;
    margin-left: auto;
    align-items: center;
  }

  .custom_nav-container .navbar-nav {
    padding-top: 15px;
  }

  .custom_nav-container .navbar-nav .nav-item .nav-link {
    padding: 5px 25px;
    margin: 5px 0;
  }

  .slider_section {
    padding: 75px 0;
  }

  .contact_section .img-box {
    margin-top: 45px;
  }

  .info_section .row > div:nth-child(1) {
    margin-bottom: 25px;
  }

  .info_section .row > div:nth-child(2) {
    margin-bottom: 25px;
  }
}

@media (max-width: 768px) {
  .hero_area {
    border-radius: 0 0 250px 0;
  }

  .slider_section .detail-box {
    margin-top: 45px;
  }

  .about_section {
    border-radius: 150px 0 150px 0;
  }

  .about_section .img-box {
    margin-top: 45px;
  }

  .contact_section .row {
    flex-direction: column-reverse;
  }

  .contact_section .map_container {
    margin-left: 0;
    margin-bottom: 45px;
    height: 375px;
  }

  .info_section .row > div:nth-child(3) {
    margin-bottom: 35px;
  }

  .info_section .row > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .info_section .info_links {
    align-items: center;
  }

  .info_section form input {
    text-align: center;
  }

  /* info section */
  .info_section h4 {
    margin-top: 20px;
  }

  .eu-kep {
    margin-left: 20px;
  }

  .projekt-resz {
    margin-top: -100px;
  }

  .harmadik-video-szekcio {
    height: 309px;
  }

  .service_section .box .img-box img {
    width: 85% !important;
  }

  .service_section {
    margin-top: -100px;
  }

  .opcionalis-cim {
    margin-top: 50px;
  }

  .about_section .detail-box p {
    margin-top: 50px;
  }

  .vedelem-blokk {
    margin-top: 50px;
  }

  .custom-section2 .img-box img {
    max-width: 80px;
    height: auto;
    display: block;
    margin: 0 auto;
  }

  .custom-section2 .detail-box {
    padding: 10px 0;
  }

  .custom-section2 p {
    font-size: 14px;
    padding: 0 10px;
  }

  .custom-section2 .col-md-2 {
    flex: 0 0 50%;
    max-width: 50%;
    margin-bottom: 20px;
  }

  .inspiracio-gomb2 {
    margin-left: 50px;
  }

  .medencek-valaszto {
    margin-top: -100px;
  }

  #fooldal_szoveg .row:first-of-type .col-md-2:nth-child(-n + 4) .img-box img {
    max-width: 80px;
    height: auto;
    display: block;
    margin: 0 auto;
  }

  #fooldal_szoveg .row:first-of-type .col-md-2:nth-child(-n + 4) .detail-box {
    padding: 10px 0;
  }

  #fooldal_szoveg .row:first-of-type .col-md-2:nth-child(-n + 4) p {
    font-size: 14px;
  }

  #fooldal_szoveg .row:first-of-type .col-md-2:nth-child(-n + 4) {
    flex: 0 0 50%;
    max-width: 50%;
    margin-bottom: 20px;
  }

  .alap-tipus-heading {
    margin-left: 70px;
    margin-top: 30px;
  }

  .alap-tipus-heading2 {
    margin-left: 100px;
    margin-top: 30px;
  }
}

@media (max-width: 768px) {
  .hero_area {
    border-radius: 0 0 250px 0;
  }

  .slider_section .detail-box {
    margin-top: 45px;
  }

  .about_section {
    border-radius: 150px 0 150px 0;
  }

  .about_section .img-box {
    margin-top: 45px;
  }

  .contact_section .row {
    flex-direction: column-reverse;
  }

  .contact_section .map_container {
    margin-left: 0;
    margin-bottom: 45px;
    height: 375px;
  }

  .hanna-info-bar {
    background-color: #f9f6eb;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  }

  .hanna-info-bar .col-md-3 {
    width: 100%;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
  }

  .hanna-info-bar .col-md-9 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
  }

  .hanna-info-bar .col-md-9 div {
    flex: 1 1 50%;
    min-width: 150px;
    text-align: center;
  }

  .hanna-price-bar {
    background-color: #f9f6eb;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .hanna-price-bar .quote_btn {
    width: 100%;
    max-width: 280px;
    margin: 10px auto;
  }

  .hanna-quote-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #228746;
    color: #ffffff;
    border-radius: 5px;
    text-align: center;
    text-transform: uppercase;
    transition: transform 0.3s ease-in-out;
    border: none;
    font-weight: bold;
    text-decoration: none;
    margin-top: 20px;
  }

  .hanna-quote-btn:hover {
    transform: translateY(-3px);
    color: #ffffff;
  }

  .termek-fokep img,
  .hanna-thumb {
    margin: 10px auto;
    display: block;
    width: 80%;
    max-width: 300px;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 3px;
    background-color: #fff;
    object-fit: contain;
  }

  .col-md-4 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .hanna-advantages {
    background-color: #e4d7b475;
    padding: 15px 0;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
  }

  .hanna-advantage-item {
    text-align: center;
    flex: 1 1 33%;
    max-width: 150px;
  }

  .hanna-advantage-item img {
    width: 50px;
    height: auto;
    margin-bottom: 5px;
  }

  .hanna-advantage-item p {
    font-size: 14px;
    font-weight: 600;
    margin: 0;
    line-height: 1.4;
  }

  @media (max-width: 480px) {
    .hanna-advantage-item {
      flex: 1 1 50%;
    }
  }
}

@media (max-width: 576px) {
}

@media (max-width: 480px) {
}

@media (max-width: 420px) {
}

@media (max-width: 376px) {
}

@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}
